[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/LalondeBrenton/glfw
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/LalondeBrenton/spdlog
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/LalondeBrenton/imgui
